html {
    margin: 0;
    padding: 0;
    background: black;
}

:root {
    --white: #FFFFFF;
    --red: #BC022C;
    --flag-height: 400px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag-japan{
    position: relative;
    height: 300px;
    width: 450px;
    background-color: var(--white);
}

.circle{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--red);
} 